service firebase.storage {
  match /b/{bucket}/o {

		match /{userId}/{allPaths=**} {
      allow read: if request.auth.uid == userId;
    }
    match /{userId} {
      allow read: if request.auth.uid == userId;
    }

  }
}
